*, *::before, *::after {
    box-sizing: border-box;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

.grid-container {
    display: grid;
    /* grid-template-rows: minmax(2em, auto); */
    grid-template-rows: auto;
    width: 300px;
    /* height:30vh; */
}

#id61 { grid-area: idEquals; }

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "idClear idOpenParen idCloseParen idDivide"
    "id7 id8 id9 idMultiply"
    "id4 id5 id6 idSubtract"
    "id1 id2 id3 idAdd"
    "id0 id0 idEquals idEquals";
}

.display {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-between;
    background-color: black;
    grid-column: 1 / -1;
}

.display .input {
    color: lightgrey;
    font-size: small;
    min-height: 2em;
}

.display .output {
    color: white;
    font-size: larger;
    min-height: 2em;
}

.input > input {
    border: none;
    background-color: transparent;
    height: 3em;
    text-align: right;
}

/* .buttons > #id61 {
    border: 1px solid white;
    display: grid;
    grid-template-columns: 2fr;
} */
